@CHARSET "ISO-8859-1";

.required {
	color: red;
}

.alert {
	color: red;
	font-size: x-small;
}

.center-text {
	align: center;
	line-height: 200%;
	margin-top: 20px;
}

.line-height-200 {
	line-height: 200%;
}

.sign {
	margin-left: 600px;
	margin-top: 60px;
	font-style: italic;
}

.back-to-home {
	margin-top: 20px;
}